/results/
/model weights/
/src/feedback_attention_cnn.egg-info/dependency_links.txt
/src/feedback_attention_cnn.egg-info/PKG-INFO
/src/feedback_attention_cnn.egg-info/SOURCES.txt
/src/feedback_attention_cnn.egg-info/top_level.txt
